/.idea/
/target/
*.lck
*.msg
*.deb
*.log
/logs/
FireflyLuciferin.iml
/build_tools/wixtools/Firefly*.exe
/fireflyluciferin.iml
/src/main/resources/org/dpsoftware/gui/.idea/.gitignore
/src/main/resources/org/dpsoftware/gui/.idea/copilot.data.migration.agent.xml
/src/main/resources/org/dpsoftware/gui/.idea/vcs.xml
