<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <conversionRule conversionWord="instanceNumber"
                    converterClass="org.dpsoftware.config.InstanceConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %instanceNumber %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${luciferin.folder}/logs/FireflyLuciferin.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 2MB -->
            <maxFileSize>2MB</maxFileSize>
            <!-- total size of all archive files, if total size > 10MB, it will delete old archived file -->
            <totalSizeCap>10MB</totalSizeCap>
            <!-- days to keep -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%instanceNumber %d %p %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.dpsoftware" level="info" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

    <logger name="org.dpsoftware" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>