/*
  Firefly Luciferin, very fast Java Screen Capture software designed
  for Glow Worm Luciferin firmware.
  Copyright © 2020 - 2026  Davide Perini  (https://github.com/sblantipodi)
 */

 .root {
    -fx-accent: #b78aff;
    -fx-focus-color: -fx-accent;
    -fx-base: #3c3355;
    -fx-control-inner-background: #4c4070;
    -fx-control-inner-background-alt: #3c3355;
    -fx-text-fill: #efefef;
}

#rootPane {
    -fx-background-color: linear-gradient(to bottom, #5b4a7d, #2e2543);
}

.windowCloseBtn, .windowMinimizeBtn {
    -fx-background-color: linear-gradient(to bottom, #5b4a7d, #2e2543);
    -fx-text-fill: #efefef;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #7057a0, #3a3160);
    -fx-text-fill: #ffffff;
}

.roundedBordersDialog {
    -fx-border-color: #2e2543 !important;
}

#hyper {
    -fx-text-fill: #e9f2f7 !important;
}

.hyperlink {
    -fx-text-fill: #e9f2f7 !important;
}

.hyperlink:hover {
    -fx-text-fill: #e9f2f7 !important;
}

.tray_menu_item_selectionbackground { color: #b78aff; }
.tray_menu_item_selectionforeground { color: #FFFFFFFF; }
.tray_menu_item_foreground { color: #FFFFFFFF; }
.tray_menu_foreground { color: #FFFFFFFF; }
.tray_menu_selectionbackground { color: #CE9DFFFF; }
.tray_menu_selectionforeground { color: #FFFFFFFF; }

.tray_menu_item_text { color: #b78aff; }
.tray_menu_border { color: #A0A0A0FF; }
.tray_menu_item_border { color: #0000ff; }
.tray_background { color: #505960FF; }
.tray_separator { color: #D7D7D7FF; }

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #5b4a7d, #2e2543);
    -fx-text-fill: #ffffff;
}

.text-field {
    -fx-prompt-text-fill: #D0D0D0;
}