/*
  Firefly Luciferin, very fast Java Screen Capture software designed
  for Glow Worm Luciferin firmware.
  Copyright © 2020 - 2025  Davide Perini  (https://github.com/sblantipodi)
 */

.root {
    -fx-accent: #0099ff;
    -fx-focus-color: -fx-accent;
    -fx-base: #40494f;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

.roundedBordersDialog {
    -fx-border-color: #32393d !important;
}

#rootPane {
    -fx-background-color: #555c61;
}

.windowCloseBtn {
    -fx-background-color: #555c61;
}

.windowMinimizeBtn {
    -fx-background-color: #555c61;
}

.windowMinimizeBtn:hover {
    -fx-background-color: #878e93;
}

.tray_menu_item_selectionbackground { color: #0099FFFF; }
.tray_menu_item_selectionforeground { color: #D3D3D3FF; }
.tray_menu_item_foreground { color: #D3D3D3FF; }
.tray_menu_foreground { color: #D3D3D3FF; }
.tray_menu_selectionbackground { color: #0099FFFF; }
.tray_menu_selectionforeground { color: #D3D3D3FF; }

.tray_menu_item_text { color: #0099FFFF; }
.tray_menu_border { color: #A0A0A0FF; }
.tray_menu_item_border { color: #0000ff; }
.tray_background { color: #505960FF; }
.tray_separator { color: #D7D7D7FF; }