/*
  Firefly Luciferin, very fast Java Screen Capture software designed
  for Glow Worm Luciferin firmware.
  Copyright © 2020 - 2025  Davide Perini  (https://github.com/sblantipodi)
 */

.root {
    -fx-accent: #1da8ff;
    -fx-focus-color: -fx-accent;
    -fx-base: #1c2940;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

.label {
    -fx-text-fill: white;
}

.text-field {
    -fx-prompt-text-fill: white;
}

.button:hover {
    -fx-text-fill: white;
}

#hyper {
    -fx-text-fill: white;
}

.roundedBordersDialog {
    -fx-border-color: #172236 !important;
}

#rootPane {
    -fx-background-color: #283b5c;
}

.windowCloseBtn {
    -fx-background-color: #283b5c;
}

.windowMinimizeBtn {
    -fx-background-color: #283b5c;
}

.windowMinimizeBtn:hover {
    -fx-background-color: #385180;
}

.tray_menu_item_selectionbackground { color: #1DA8FFFF; }
.tray_menu_item_selectionforeground { color: #FFFFFFFF; }
.tray_menu_item_foreground { color: #FFFFFFFF; }
.tray_menu_foreground { color: #FFFFFFFF; }
.tray_menu_selectionbackground { color: #1DA8FFFF; }
.tray_menu_selectionforeground { color: #FFFFFFFF; }

.tray_menu_item_text { color: #1DA8FFFF; }
.tray_menu_border { color: #A0A0A0FF; }
.tray_menu_item_border { color: #0000ff; }
.tray_background { color: #505960FF; }
.tray_separator { color: #D7D7D7FF; }