/*
  Firefly Luciferin, very fast Java Screen Capture software designed
  for Glow Worm Luciferin firmware.
  Copyright © 2020 - 2025  Davide Perini  (https://github.com/sblantipodi)
 */

.root {
    -fx-accent: #d8a657;
    -fx-focus-color: -fx-accent;
    -fx-base: #4a3b2c;
    -fx-control-inner-background: #5b4736;
    -fx-control-inner-background-alt: #4a3b2c;
    -fx-text-fill: #f0e8da;
}

#rootPane {
    -fx-background-color: linear-gradient(to bottom, #6b563f, #2f241a);
}

.windowCloseBtn, .windowMinimizeBtn {
    -fx-background-color: linear-gradient(to bottom, #6b563f, #2f241a);
    -fx-text-fill: #f0e8da;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #8c6a4b, #3d2f22);
    -fx-text-fill: #ffffff;
}

.roundedBordersDialog {
    -fx-border-color: #2f241a !important;
}

#hyper {
    -fx-text-fill: #e9f2f7 !important;
}

.hyperlink {
    -fx-text-fill: #e9f2f7 !important;
}

.hyperlink:hover {
    -fx-text-fill: #e9f2f7 !important;
}

.tray_menu_item_selectionbackground { color: #d8a657; }
.tray_menu_item_selectionforeground { color: #FFFFFFFF; }
.tray_menu_item_foreground { color: #FFFFFFFF; }
.tray_menu_foreground { color: #FFFFFFFF; }
.tray_menu_selectionbackground { color: #d8a657; }
.tray_menu_selectionforeground { color: #FFFFFFFF; }

.tray_menu_item_text { color: #d8a657; }
.tray_menu_border { color: #A0A0A0FF; }
.tray_menu_item_border { color: #0000ff; }
.tray_background { color: #505960FF; }
.tray_separator { color: #D7D7D7FF; }