/*
  Firefly Luciferin, very fast Java Screen Capture software designed
  for Glow Worm Luciferin firmware.
  Copyright © 2020 - 2026  Davide Perini  (https://github.com/sblantipodi)
 */

.root {
    -fx-accent: #66e3b4;
    -fx-focus-color: -fx-accent;
    -fx-base: #2f3d38;
    -fx-control-inner-background: #3b4c46;
    -fx-control-inner-background-alt: #2f3d38;
    -fx-text-fill: #e4e4e4;
}

#rootPane {
    -fx-background-color: linear-gradient(to bottom, #496057, #1f2b27);
}

.windowCloseBtn, .windowMinimizeBtn {
    -fx-background-color: linear-gradient(to bottom, #496057, #1f2b27);
    -fx-text-fill: #e4e4e4;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #5e7a6d, #2c3b35);
    -fx-text-fill: #ffffff;
}

.roundedBordersDialog {
    -fx-border-color: #496057 !important;
}

#hyper {
    -fx-text-fill: #e9f2f7 !important;
}

.hyperlink {
    -fx-text-fill: #e9f2f7 !important;
}

.hyperlink:hover {
    -fx-text-fill: #e9f2f7 !important;
}

.tray_menu_item_selectionbackground { color: #66e3b4; }
.tray_menu_item_selectionforeground { color: #FFFFFFFF; }
.tray_menu_item_foreground { color: #FFFFFFFF; }
.tray_menu_foreground { color: #FFFFFFFF; }
.tray_menu_selectionbackground { color: #66e3b4; }
.tray_menu_selectionforeground { color: #FFFFFFFF; }

.tray_menu_item_text { color: #66e3b4; }
.tray_menu_border { color: #A0A0A0FF; }
.tray_menu_item_border { color: #0000ff; }
.tray_background { color: #505960FF; }
.tray_separator { color: #D7D7D7FF; }

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #496057, #1f2b27);
    -fx-text-fill: #ffffff;
}
