.tray_menu_item_selectionbackground { color: #78d8ff; }
.tray_menu_item_selectionforeground { color: #FFFFFFFF; }
.tray_menu_item_foreground { color: #FFFFFFFF; }
.tray_menu_foreground { color: #FFFFFFFF; }
.tray_menu_selectionbackground { color: #CE9DFFFF; }
.tray_menu_selectionforeground { color: #FFFFFFFF; }

.tray_menu_item_text { color: #78d8ff; }
.tray_menu_border { color: #A0A0A0FF; }
.tray_menu_item_border { color: #0000ff; }
.tray_background { color: #505960FF; }
.tray_separator { color: #D7D7D7FF; }